# Node dependencies
/node_modules

# Compiled output
/dist
/tmp
/out-tsc

# IDE files
/.idea
/.vscode
*.iml
*.ipr
*.iws

# Logs
/logs

# Environment config
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Build artifacts
*.js
*.js.map
*.css
*.css.map
